@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">PROJELERİM</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PROJE</th>
                            <th>ÜCRET</th>
                            <th>DURUM</th>
                            <th>GÖRSELLER</th>
                            <th>TAMAMLANMA ORANI</th>
                            <th>SİL</th>
                            <th>GÜNCELLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                           
                            <tr>
                                <th>@count</th>
                                <th>
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@item.Name</span>
                                        </div>

                                    </div>
                                </th>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-success"></i>
                                        <span class="status">TAMAMLANDI</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="avatar-group">
                                        <a href="#" class="avatar avatar-sm rounded-circle">
                                            <img alt="Image" src="@item.Image1">
                                        </a>
                                        <a href="#" class="avatar avatar-sm rounded-circle">
                                            <img alt="Image" src="@item.Image2">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">@item.Value%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-outline-danger">SİL</a></td>
                                <td><a href="/Portfolio/UpdatePortfolio/@item.PortfolioID" class="btn btn-outline-success">DÜZENLE</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <a href="/Portfolio/AddPortfolio" class="btn btn-outline-primary">YENİ PROJE EKLE</a>
        </div>
    </div>
</div>
