@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DUYURULAR</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>BAŞLIK</th>
                            <th>TARİH</th>
                            <th>TÜR</th>
                            <th>DETAYLAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th>@count</th>
                                <td>@item.Title</td>
                                <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                @if(item.Status=="Yeni Yazı"){
                                    <td><label class="badge badge-success">@item.Status</label></td>
                                }
                                else if(item.Status=="Uygulama"){
                                    <td><label class="badge badge-info">@item.Status</label></td>
                                }
                                else{
                                    <td><label class="badge badge-danger">@item.Status</label></td>
                                }
                                <td><a href="Writer/Default/AnnouncementDetails/@item.ID" class="btn btn-primary">DETAYLAR</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>